snippet main
	func main() {
		${1}
	}

snippet import
	import (
		"${1}"
	)

snippet func
	func ${1}() {
	}

snippet if
	if ${1} {
		${2}
	}

snippet for
	for ${1} {
		${2}
	}

snippet forr
	for ${1:_}, ${2:v} := range ${3:var} {
		${4}
	}
